:root{
  --pink:#D2738A;
}

body{
  color: rgb(153, 153, 153);
  font-family: monospace;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

a:link, a:visited, a:hover, a:active{
  color: var(--pink);
}

::-moz-selection { /* gecko */
  background: var(--pink);
  color: black;
}

#time{
  padding: 7px;
  position: fixed;
  top: 94%; left: 92%; right: 0; bottom: 0;
  margin: auto;
  display: table;
}

.mainbox{
  text-align: left;
  padding: 7px;
  position: fixed;
  top: 35%; left: 0; right: 0; bottom: 0;
  margin: left;
  display: table;
  z-index: 1;
}

#search{
  width: 80%;
  padding: 0;
  position: fixed;
  bottom: 0%;
  opacity: 0.5;
}

input{
  font-size: 20pt;
}

#searchlist{
  width: 100%;
  padding: 0;
  position: fixed;
  bottom: 0px;
  opacity: 0.7;

}

#q{
  font-family: monospace;
  width: 80%;
  background-color: rgb(0, 0, 0);
  color: rgb(193, 180, 146);
  outline: none;
  border: none;
}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
canvas{
  background-color: #000;
}
